<%= form_with url:"/offline/results" do |f| %>
    <% @candidates.values.each do |name|%>
        <p>  
        <%= radio_button_tag(:candidate, name) %>
        <%= label_tag(:candidate, name) %>
        </p>
    <% end %>
    <p>
    <%= f.submit "Vote"%>
    </p>
<% end %>