<h3><%= @user_name %> welcome to the app.</h3>
<h4>Choose option based on your requirement</h4>
<%= link_to "Offline Mode", offline_home_path%>
<%# <%= link_to "Online Mode", online_home_path%> 
<%# <%= link_to "Participate", participate_home_path%>